@font-face {
  font-family: Jersey10;
  src: url("./font/Jersey10.ttf");
}

@keyframes pauseTimer {
  0% {
    color: white;
  }
  50% {
    color: #0d47a1;
  }
  100% {
    color: white;
  }
}

@keyframes wrongCounter {
  0% {
    color: white;
  }
  50% {
    color: #b71c1c;
  }
  100% {
    color: white;
  }
}

@keyframes rightCounter {
  0% {
    color: white;
  }
  50% {
    color: #1b5e20;
  }
  100% {
    color: white;
  }
}

:root {
  background-color: #072207;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: green;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}
